<% provide(:title, @taxon.name) %>
<div class="main-wrapper">
  <!-- LIGHT SECTION -->
  <%= render "light_section", taxon: @taxon %>

  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix productsContent">
    <div class="container">
      <div class="row">
        <%= render "side_bar", taxonomies: @taxonomies %>
        <%= render "main_panel", products: @products %>
      </div>
    </div>
  </section>
</div>